.heroSectionContainer{
  position: relative;
  height: 90vh;

  .backgroundImage{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.heroSection {
  padding: 64px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.welcomeMessage {
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.heroSection .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;

  .tagline {
    width: 75%;
    line-height: 1.6;
  }
}

.heroSectionBtns {
  display: flex;
  gap: 32px;
  align-items: center;
}

.shopNowBtn {
  padding: 0.8em 2.4em;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  background-color: #3a4b54;
}

.shopNowBtn:hover {
  filter: brightness(90%);
  border-color: none;
  outline: none;
}

.aboutUsBtn {
  color: #3a4b54;
}

.aboutUsBtn:hover {
  filter: brightness(75%);
}

.scrollDown {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  font-size: 15px;
  color: var(--dark-blue);
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  user-select: none;
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  padding: 64px;
  align-items: center;
  gap: 48px;

  .sectionTitle {
    font-size: 2.8rem;
    margin-bottom: 16px;
  }

  .sectionTitle::after {
    background-color: lightgray;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 60px;
    margin-top: 10px;
  }
}

.featuredProducts .products {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-self: stretch;
}

.featuredProducts .products .product {
  width: 240px;
  min-width: 200px;
  text-align: center;
}

.featuredProducts .product .image {
  max-height: 300px;
}

.viewAll,
.addToCartBtn {
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  background-color: white;
  padding: 0.8em 2.4em;
  border-radius: 16px;
  font-weight: bold;
  transition: 0.25s ease background-color, 0.25s ease color;
}

.viewAll:hover {
  color: white;
  background-color: var(--dark-blue);
}
