.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid lightgray;
  padding: 24px;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product .image {
  width: 100%;
}

.product:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.btns {
  align-self: stretch;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.addToCartBtn {
  color: #213547;
  border: 2px solid #213547;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  transition: 0.25s ease background-color, 0.25s ease color;
  min-width: max-content;
  flex: 1;
}

.addToCartBtn:hover {
  color: white;
  background-color: #213547;
}

.removeItemBtn {
  background-color: white;
  border: 2px solid crimson;
  border-radius: 16px;
  padding: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeItemBtn:hover {
  background-color: crimson;

  img {
    filter: invert(97%) sepia(97%) saturate(11%) hue-rotate(197deg)
      brightness(105%) contrast(102%);
  }
}
