.productsContainer {
  padding: 64px;

  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }

  .product {
    width: 200px;
    min-width: 160px;
  }

  .product .image {
    max-height: 240px;
  }

  .addToCartBtn {
    padding: 0.6em;
  }
}

.reduce {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  select {
    padding: 4px;
    border-radius: 4px;
  }
}
