#root{
  height: 100%;
}

.appContainer{
  display: flex;
  flex-direction: column;
}

h1, h2{
  margin: 0;
  font-weight: 500;
}


main{
  display: flex;
  flex-direction: column;
}

.rating{
  display: flex;
  gap: 8px;
}

.imgContainer{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}